body {
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

div#map { 
   height: 100%; 
   width: 100%;
   margin: 0;
   background: #EBE8E4 url('libraries/images/ricepaper2.png');
}



/******************************************************************************
HILIGHT LABELS
******************************************************************************/

div.hilight-label div.innerlabel {
  background: #EEE;
	border-color: #999;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
  white-space: nowrap;
}

.hilight-label div.hContent {
  display: none; 
  width: 400px;
  white-space: normal;
  margin-top: 5px;
}

.hilight-label img.illustration {
  width: 100%;
  margin: auto;
  display: block;
  margin: 0;
}

.hilight-label img.thumbnail {
  width: 40px;
  height: 40px;
  margin: 2px;
  margin-left: -3px;
  margin-right: 8px;
  /*float: left;*/
  vertical-align: middle;
}

.hilight-label span.hLabel {
  font-weight: bold;
  font-size: 120%;
} 

.leaflet-label.hilight-label.expanded div.innerlabel {
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); /* IE 9 */
       -o-transform: translate(-50%, -50%); 
          transform: translate(-50%, -50%);
          
  padding-top: 5px;
}



/******************************************************************************
FULLSCREEN PICTURES AND VIDEO
******************************************************************************/

div#mediabg {
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999;
  background: black;
  background: rgba(0,0,0,0.7);
  overflow: auto;
  cursor: pointer;
  text-align: center;
}

div#mediaoverlay {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  margin-top: 1%;
  color: black;
  text-align: left;
  background: black;
}

div#mediacontainer img, div#mediacontainer iframe {
  max-width: 100%;
  max-height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#mediacaption {
  background: #EEE;
  padding: 1%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a#closemedia {
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  font-size: 200%;
  background: #EEE;
  padding: 0 10px;
  border-radius: 3px;
}



/******************************************************************************
MARKER CLUSTERS
******************************************************************************/

.marker-cluster {
  background-clip: padding-box;
  /*border-radius: 20px;*/
}
.marker-cluster div {
  /*width: 30px;
  height: 30px;*/
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  /*border-radius: 15px;*/
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/*.marker-cluster span {
  line-height: 30px;
}*/
	
	
.marker-cluster.marker-cluster-singleton { 
  border-radius: 15px;
}
.marker-cluster.marker-cluster-singleton div { 
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.marker-cluster.marker-cluster-singleton span { 
  line-height: 20px;
}

.marker-cluster.marker-cluster-xsmall { 
  border-radius: 20px;
}
.marker-cluster.marker-cluster-xsmall div { 
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.marker-cluster.marker-cluster-xsmall span { 
  line-height: 30px;
}

.marker-cluster.marker-cluster-small { 
  border-radius: 25px;
}
.marker-cluster.marker-cluster-small div { 
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.marker-cluster.marker-cluster-small span { 
  line-height: 40px;
}

.marker-cluster.marker-cluster-medium { 
  border-radius: 30px;
}
.marker-cluster.marker-cluster-medium div { 
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.marker-cluster.marker-cluster-medium span { 
  line-height: 50px;
}

.marker-cluster.marker-cluster-large { 
  border-radius: 40px;
}
.marker-cluster.marker-cluster-large div { 
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
.marker-cluster.marker-cluster-large span { 
  line-height: 50px;
}

/* aggression, fear, coalitions */
.marker-cluster-cG, .marker-cluster-cE, .marker-cluster-cH { background-color: rgba(252,141,98,0.6); } 
.marker-cluster-cG div, .marker-cluster-cE div, .marker-cluster-cH div { background-color: rgba(252,141,98,1); }
.popup-title-cG, .popup-title-cE, .popup-title-cH {background-color: rgba(252,141,98,0.8); }

/* grooming */
.marker-cluster-cM { background-color: rgba(231,138,195,0.6); } 
.marker-cluster-cM div { background-color: rgba(231,138,195,1); }
.popup-title-cM {background-color: rgba(231,138,195,0.8); }

/* food */
.marker-cluster-cC { background-color: rgba(115,210,22,0.6); } 
.marker-cluster-cC div { background-color: rgba(115,210,22,1); }
.popup-title-cC {background-color: rgba(115,210,22,0.8); }

/* friendly, sex */
.marker-cluster-cF, .marker-cluster-cS { background-color: rgba(141,160,203,0.6); } 
.marker-cluster-cF div, .marker-cluster-cS div { background-color: rgba(141,160,203,1); }
.popup-title-cF, .popup-title-cS {background-color: rgba(141,160,203,0.8); }

/* infant */
.marker-cluster-cI { background-color: rgba(102,194,165,0.6); } 
.marker-cluster-cI div { background-color: rgba(102,194,165,1); }
.popup-title-cI {background-color: rgba(102,194,165,0.8); }

/* play */
.marker-cluster-cP { background-color: rgba(230,171,2,0.6); } 
.marker-cluster-cP div { background-color: rgba(230,171,2,1); }
.popup-title-cP {background-color: rgba(230,171,2,0.8); }

/* vocalizations, self-directed, approaches and leaves, looking, researcher's view */
.marker-cluster-cV, .marker-cluster-cW, .marker-cluster-cA, .marker-cluster-cL, .marker-cluster-cO { background-color: rgba(240,240,240,0.6); }
.marker-cluster-cV div, .marker-cluster-cW div, .marker-cluster-cA div, .marker-cluster-cL div, .marker-cluster-cO div { background-color: rgba(240,240,240,0.6); }
.popup-title-cV, .popup-title-cW, .popup-title-cA, .popup-title-cL, .popup-title-cO {background-color: rgba(240,240,240,0.8); }




/******************************************************************************
BEHAVIOR POPUPS
******************************************************************************/

div.leaflet-popup-content-wrapper {
  padding: 0;
  overflow: hidden;
}

div.leaflet-container a.leaflet-popup-close-button {
  color: #333;
}

div.leaflet-popup-content {
  margin: 5px;
}

div.popup-title {
  margin: -5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  font-size: 140%;
  font-weight: bold;
}

td.behavior-timestamp {
  color: #666;
  padding: 0 8px;
}

td.behavior-point {
  padding: 3px;
}

td.behavior-zoom-note {
  color: #777;
  font-size: 80%;
  /*font-style: italic;*/
}

/******************************************************************************
BEHAVIOR POINT "TAG CLOUD"
******************************************************************************/

/*div.cluster-label div {
  display: block;
}*/
/*
td.behavior-point-1, td.behavior-point-2 {
  font-size: 75%;
  font-weight: 400;
  line-height: 110%;
  padding: 10px;  
  padding-top: 3px;

}

td.behavior-point-3 {
  font-size: 75%;
  font-weight: 500;
  line-height: 110%;
  padding: 10px;
  padding-top: 3px;
}
td.behavior-point-4, td.behavior-point-5 {
  padding: 10px;
  font-size: 85%;
  font-weight: 500;
  line-height: 110%;
}
td.behavior-point-6 {
  padding: 10px;
  font-size: 100%;
  font-weight: 600;
}
td.behavior-point-7 {
  padding: 10px;
  font-size: 130%;
  font-weight: 700;
}
td.behavior-point-8 {
  padding: 10px;
  font-size: 160%;
  font-weight: 700;
}
td.behavior-point-9 {
  padding: 10px;
  font-size: 220%;
  font-weight: 700;
}
.clusterpoint.timestamp {
  font-weight:bold;
  font-size: 140%;
  padding: 10px;
}
.clusterpoint.more {
  padding: 10px;
  font-size: 115%;
}
 */
 
.clusterpoint.cF { /*friendly, sex*/
  border-top: solid 8px #8da0cb; /* blue */
}
.clusterpoint.cI { /*infant*/
  border-top: solid 8px #66c2a5; /* blue-green */
}
.clusterpoint.cM { /*grooming*/
  border-top: solid 8px #e78ac3; /* pink */
}
.clusterpoint.cP { /*play*/
  border-top: solid 8px #e6ab02; /* yellow */
}
.clusterpoint.cG, .clusterpoint.cH, .clusterpoint.cE { /*aggression, coalitions, submission*/
  border-top: solid 8px #fc8d62; /* orange */
}
.clusterpoint.cC { /* food */
  border-top: solid 8px #73d216; /* green */
}
.clusterpoint.cS { /* sex */
  border-top: solid 8px #e5c494; /* tan */
}
.clusterpoint.cA { /* approaches, leaves */
  display: none;
}

/*.clusterpoint.cW, .clusterpoint.cL, .clusterpoint.cO, clusterpoint.cV { /* self-care, looking, ovp ivp, vocalizations */







div#mediacaption, a#closemedia, div.hilight-label .innerlabel, div.clusterpoint {
-webkit-box-shadow: 1px 1px 1px 5px #F2F2F2;
-moz-box-shadow: 1px 1px 1px 5px #F2F2F2;
box-shadow: 0px 0px 5px 4px #EBE8E4; /*rgba(221,221,221,1);*/

  background: #F2F2F2 url('libraries/images/ricepaper.png');
}}
