body {
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

div#map { 
   height: 100%; 
   width: 100%;
   margin: 0;
   background: #EBE8E4 url('libraries/images/ricepaper2.png');
}

div.leaflet-overlay-pane {
  z-index: 1000;
  pointer-events: none;
}


/******************************************************************************
MAP LABELS
******************************************************************************/

.leaflet-label div.innerlabel {	
	color: #111;
	display: block;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-spacing: 140%;
	padding: 0px 6px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	z-index: 6;
	margin: 0;
  
  -webkit-transform: translate(10%, -50%); /* Chrome, Safari, Opera */
     -moz-transform: translate(10%, -50%);
      -ms-transform: translate(10%, -50%); /* IE 9 */
       -o-transform: translate(10%, -50%); 
          transform: translate(10%, -50%);
          
}

.leaflet-label.leaflet-clickable div.innerlabel {
	cursor: pointer;
	pointer-events: auto;
}



/******************************************************************************
LABEL ARROWS
******************************************************************************/

.leaflet-label div.innerlabel:before,
.leaflet-label div.innerlabel:after {
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	content: none;
	position: absolute;
	top: 50%;
  margin-top: -8px;
}

.leaflet-label.top div.innerlabel:after {
	border-left: 25px solid rgba(89,56,35,1);
  	right: -55px;
}

.leaflet-label.top div.innerlabel:before {
	border-right: 25px solid rgba(89,56,35,1);
  left: -55px;
}

.leaflet-label-right div.innerlabel:before,
.leaflet-label-left div.innerlabel:after {
	content: "";
}

.leaflet-label-right.expanded div.innerlabel:before,
.leaflet-label-left.expanded div.innerlabel:after {
	content: none;
}



/******************************************************************************
CLUSTER LABELS
******************************************************************************/

div.cluster-label {
  width: 600px;
  display: block;
  text-align: center;
}

div.clusterpoint {
  margin: 1px;
  padding: 3px 5px;
  max-width: 400px;
  display: inline-block;
  clear: both;
  /*border: solid 1px #999;*/
  /*border-left: solid 5px #999;*/
  text-align: left;
}



/******************************************************************************
LEFT-LABEL POSITIONING
******************************************************************************/

.leaflet-label-left div.innerlabel {
  -webkit-transform: translate(-110%, -50%); /* Chrome, Safari, Opera */
     -moz-transform: translate(-110%, -50%);
      -ms-transform: translate(-110%, -50%); /* IE 9 */
       -o-transform: translate(-110%, -50%); 
          transform: translate(-110%, -50%);
}



/******************************************************************************
HILIGHT LABELS
******************************************************************************/

div.hilight-label div.innerlabel {
  background: #EEE;
	border-color: #999;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
  white-space: nowrap;
}

.hilight-label div.hContent {
  display: none; 
  width: 400px;
  white-space: normal;
  margin-top: 5px;
}

.hilight-label img.illustration {
  width: 100%;
  margin: auto;
  display: block;
  margin: 0;
}

.hilight-label img.thumbnail {
  width: 40px;
  height: 40px;
  margin: 2px;
  margin-left: -3px;
  margin-right: 8px;
  /*float: left;*/
  vertical-align: middle;
}

.hilight-label span.hLabel {
  font-weight: bold;
  font-size: 120%;
} 

.leaflet-label.hilight-label.expanded div.innerlabel {
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); /* IE 9 */
       -o-transform: translate(-50%, -50%); 
          transform: translate(-50%, -50%);
          
  padding-top: 5px;
}



/******************************************************************************
FULLSCREEN PICTURES AND VIDEO
******************************************************************************/

div#mediabg {
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999;
  background: black;
  background: rgba(0,0,0,0.7);
  overflow: auto;
  cursor: pointer;
  text-align: center;
}

div#mediaoverlay {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  margin-top: 1%;
  color: black;
  text-align: left;
  background: black;
}

div#mediacontainer img, div#mediacontainer iframe {
  max-width: 100%;
  max-height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#mediacaption {
  background: #EEE;
  padding: 1%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a#closemedia {
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  font-size: 200%;
  background: #EEE;
  padding: 0 10px;
  border-radius: 3px;
}



/******************************************************************************
MARKER CLUSTERS
******************************************************************************/

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
  line-height: 30px;
}
	
	
	
.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}


/******************************************************************************
BEHAVIOR POINT "TAG CLOUD"
******************************************************************************/

/*div.cluster-label div {
  display: block;
}*/

.clusterpoint.r1, .clusterpoint.r2 {
  font-size: 75%;
  font-weight: 400;
  line-height: 110%;
  padding: 10px;  
  padding-top: 3px;

}

.clusterpoint.r3 {
  font-size: 75%;
  font-weight: 500;
  line-height: 110%;
  padding: 10px;
  padding-top: 3px;
}
.clusterpoint.r4, .clusterpoint.r5 {
  padding: 10px;
  font-size: 85%;
  font-weight: 500;
  line-height: 110%;
}
.clusterpoint.r6 {
  padding: 10px;
  font-size: 100%;
  font-weight: 600;
}
.clusterpoint.r7 {
  padding: 10px;
  font-size: 130%;
  font-weight: 700;
}
.clusterpoint.r8 {
  padding: 10px;
  font-size: 160%;
  font-weight: 700;
}
.clusterpoint.r9 {
  padding: 10px;
  font-size: 220%;
  font-weight: 700;
}
.clusterpoint.timestamp {
  font-weight:bold;
  font-size: 140%;
  padding: 10px;
}
.clusterpoint.more {
  padding: 10px;
  font-size: 115%;
}
 
.clusterpoint.cF { /*friendly, sex*/
  border-top: solid 8px #8da0cb; /* blue */
}
.clusterpoint.cI { /*infant*/
  border-top: solid 8px #66c2a5; /* blue-green */
}
.clusterpoint.cM { /*grooming*/
  border-top: solid 8px #e78ac3; /* pink */
}
.clusterpoint.cP { /*play*/
  border-top: solid 8px #e6ab02; /* yellow */
}
.clusterpoint.cG, .clusterpoint.cH, .clusterpoint.cE { /*aggression, coalitions, submission*/
  border-top: solid 8px #fc8d62; /* orange */
}
.clusterpoint.cC { /* food */
  border-top: solid 8px #73d216; /* green */
}
.clusterpoint.cS { /* sex */
  border-top: solid 8px #e5c494; /* tan */
}
.clusterpoint.cA { /* approaches, leaves */
  display: none;
}

/*.clusterpoint.cW, .clusterpoint.cL, .clusterpoint.cO, clusterpoint.cV { /* self-care, looking, ovp ivp, vocalizations */



div#mediacaption, a#closemedia, div.hilight-label .innerlabel, div.clusterpoint {
-webkit-box-shadow: 1px 1px 1px 5px #F2F2F2;
-moz-box-shadow: 1px 1px 1px 5px #F2F2F2;
box-shadow: 0px 0px 5px 4px #EBE8E4; /*rgba(221,221,221,1);*/

  background: #F2F2F2 url('libraries/images/ricepaper.png');
}}
