html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  width:100%;
  height: 100%;
  background: #333;
}

.fonts-loaded html, .fonts-loaded body {
  font-family: 'Fira Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body a img {
  border: 0; /*for IE*/
}

#map-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
  position: relative;
}

.fonts-loaded body .leaflet-container, .fonts-loaded body .lb-data .lb-caption {
    font: 16px/1.3 "Fira Sans", "Helvetica Neue",Arial,Helvetica,sans-serif;
}


body .lb-data .lb-caption {
  font-weight: bold;
}

div#map { 
   height: 100%; 
   width: 100%;
   margin: 0;
   background: #333;
}
c
@media (max-width: 599px), (max-height: 499px) {
  #map-container {
    padding-top: 40px;
  }
}


/******************************************************************************
 header */

#header {
  background:#DDD;
  /*border-bottom: solid 3px rgba(230,171,2,1);*/
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 15px;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*  font-family: 'Fira Sans', sans-serif;*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 99990001;
}




img#welcome-icon {
  float: left;
  height: 60px; 
  width: 60px;
}

span#title {
  margin: -2px;
  padding-left: 16px;
  font-size: 28px;
  /*font-weight: bold;*/
  color: #111;
}

div#header-tabs {
  margin-top: -4px;
}

a.header-tab {
  color: #111;
  display: inline-block;
  padding: 1px 8px 0px 8px;
  margin: -2px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius:5px;
  transition: 0.5s;
}

a.header-tab:hover {
  /*text-decoration: underline;*/
  color: #000;
  background: #CCC;
  transition: 0.1s;
}

div#mobile-buttons {
  display: none;
}

@media (max-width: 599px), (max-height: 499px) {
  #header {
    height: 40px;
    background: linear-gradient(#EEE, #CCC);
  }
  
  img#welcome-icon {
    width: 40px;
    height: 40px;
  }
  
  span#title {
    display: none;
  } 
  
  a.header-tab {
    display: none;
  }
  
  div#mobile-buttons {
    display: block;
    float: right;
    padding: 8px;
  }
  
  a#mobile-menu-button {
    color: #111;
    border-radius:5px;
    padding: 5px 10px;
    background: #CCC;
  }
  
  a#mobile-menu-button.menu-button-open {
    background: #AAA;
  }
  
  a#back-to-map {
    color: #111;
    border-radius:5px;
    padding: 5px 10px;
    background: #EEE;
  }
}




/******************************************************************************
 tour slider */
 
div#tour-slider-container {
    width: 500px;
    padding: 10px 60px;
    position: absolute;
    right: 30px;
    top: 12px;
    background-image: url('/icons/awake-slider.png'), url('icons/bedtime-slider.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
    background-size: auto 100%, auto 100%;
}

 
@media (max-width: 599px), (max-height: 499px) {
    div#tour-slider-container {
        position: static;
        display: block;
        float: right;
        width: 150px;
        padding: 5px 30px;
        margin-top: 7px;
        margin-right: 10px;
        background-size: auto 100%;
    }
}

div#tour-slider {
  height: 14px;
  border-radius: 10px;
  padding-right: 32px;
}

#tour-slider .noUi-handle {
  top: -8px;
  left: -1px;
  border-radius: 7px;
}

#tour-slider .noUi-origin {
  right: -32px;
}

#tour-slider .noUi-background {
  border-radius: 10px;
}

#tour-slider.noUi-connect {
  background: #CBE094;
}

#tour-slider .noUi-tooltip {
  top: 34px;
  border-radius: 10px;
  padding: 4px 12px;
  transform: translateX(-50%);
  left: 17px;
  font-size: 120%;
  border: 3px solid rgb(153, 153, 153);
}





/******************************************************************************
 media overlay */

div#overlay-background {
  display: none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:999999;
  padding-top: 60px; /* for header */
  box-sizing: border-box;
}

/* place overlay under smaller header for small screen */
@media (max-width: 599px), (max-height: 499px) {
  div#overlay-background {
    padding-top: 40px;
  }
}


div#overlay-scrollable {
  overflow: auto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

div#overlay-content {
  display: block;
  width: 90%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 14px;
  border-radius: 3px;
  background: white;
  position: relative;
}

div#overlay-media img {
  width: 100%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


div#overlay-caption.filled {
  padding: 20px;
  padding-bottom: 20px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

div#overlay-title.filled {
  padding: 20px;
  padding-bottom: 0;
  text-align: center;
  font-size: 200%;
  line-height: 1;
  font-weight: bold;
}

div#overlay-close {
  color: #DDD;
  background: rgba(0,0,0,0.6);
  padding: 0 8px;
  border-radius: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  line-height: 0.8;
  cursor: pointer;
}

div#overlay-close:hover {
  background: rgba(0,0,0,1);
  transition: 0.2s;
}



/******************************************************************************
 side panel */

#side-panel {
  background: #F8F8F8;/*#FFFFCC;/*#FFE991;*/
  /*border-right: solid 3px rgba(230,171,2,1);*/
  padding: 50px;
  padding-top: 90px;
  padding-bottom: 20px;
  padding-right: 30px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 600px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 9999000;
  /*color: #382E07;*/
  border-right: 2px #BBB solid;
  
  -webkit-box-shadow: 5px 0px 20px 0px rgba(50, 50, 50, 0.9);
  -moz-box-shadow:    5px 0px 20px 0px rgba(50, 50, 50, 0.9);
  box-shadow:         5px 0px 20px 0px rgba(50, 50, 50, 0.9);
}

#side-panel a {
 color: #5F8500;
 text-decoration: none;
 font-weight: bold;
}

#side-panel a:hover {
  color: #80B300;
}

a#close-side-panel {
  color: #444;
  padding: 5px 5px 0 0;
  position: absolute;
  right: 0px;
  top: 75px;
  cursor: pointer;
  font: bold 16px/14px Tahoma,Verdana,sans-serif;
}

a#close-side-panel:hover {
  color: #000;
}

.side-panel-content {
  overflow: auto;
  height: 100%;
  line-height: 135%;
  padding-right: 30px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

span.side-title {
  font-size: 120%;
  font-weight: bold;
}

.side-linkout {
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background: #DDD; /* atomic tangerine #FF9966; /*#FFDA47;*/
  display: inline-block;
  font-weight: normal;
}

#side-panel a.side-linkout {
  color: black;
  font-weight: normal;
}

a.side-linkout:hover {
  text-decoration: underline;
}

.side-linkout:hover {
  background: #E5E5E5;
}

#side-panel ul li {
  padding-bottom: 10px;
}

#side-panel a.mono-name {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#side-panel a.mono-name:target {
  display: inline-block;
  padding: 0px 5px;
  background: #FFE796;
  border-radius: 2px;
}



#side-panel table#mono-list tr td:first-child {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
  text-align: right;
  padding-right: 10px;
  line-height: 1.2;
}

#side-panel table#mono-list tr td:last-child {
  text-align: left;
  padding: 5px;
}

#side-panel a.mono-jump {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  background: #DDD;
  text-decoration: none;
  color: black;
  margin: 2px 0px;
  font-weight: normal;
  font-size: 90%;
}

#side-panel a.mono-jump:hover {
  background: #E5E5E5;
}


#side-panel #mobile-menu-list {
  list-style-type: none;
  padding-left: none;
  text-align: center;
}

#side-panel #mobile-menu-list li {
  padding: 17px 0;
}

#side-panel #mobile-menu-list li a {
  color: #444;
  font-size: 120%;
}


#donate-image {
  float: left; 
  padding-right: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; 
  margin-left: -10px; 
  margin-top: -25px;
  margin-bottom: -10px; 
  vertical-align: middle;
  width: 200px;
  height: 133px;
}

#donate-paypal {
  margin: 12px 0; 
  height: 110px;
  text-align: center; 
  font-size: 140%; 
  cursor: pointer;
  padding-left: 205px;
  background-image: url('/pictures/preview/TJ-WH-DA.jpg');
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
}

@media (max-width: 550px) {
  #donate-paypal {
    padding-left: 10px;
    padding-top: 65%;
    background-size: 100% auto;
    background-position: center top;
  }
}



@media (max-width: 599px), (max-height: 499px) {
  #side-panel {
    padding: 20px;
    padding-top: 60px;
    max-width: none;
  }
  
  a#close-side-panel {
    display: none;
  }

  #donate-image {
    display: none;
  }

}




/******************************************************************************
 tour "next" button */

.button-next {
  display: block;
  width: 120px;
  font-weight: bold;
  background: #FEDD5B;
  border-radius: 5px;
  cursor: pointer;
  font-size: 120%;
  padding: 4px 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button-next:hover {
  background: #FED32A;
  transition: 0.2s ease;
}



/******************************************************************************
 behavior popups */


.behavior-popup div.leaflet-popup-content-wrapper {
  padding: 0;
  overflow: hidden;
  border-radius: 3px;
}

div.leaflet-container a.leaflet-popup-close-button {
  color: #333;
  font-size: 200%;
  padding: 18px 20px 0 0;
  font-weight: normal;
  overflow: visible;
}

div.leaflet-container a.leaflet-popup-close-button:hover {
  color: #000;
}

.behavior-popup div.leaflet-popup-content {
  margin: 5px;
}

div.popup-title {
  margin: -10px;
  margin-bottom: 5px;
  padding: 15px;
  padding-left: 19px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 140%;
  font-weight: bold;
}

.behavior-list {
  max-height: 200px;
  overflow: auto;
  padding-right: 10px;
}

td.behavior-timestamp {
  color: #666;
  padding: 0 8px;
}

td.behavior-point {
  padding: 3px;
}


.behavior-popup div.caption {
  max-height: 160px;
  overflow: auto;
  margin: 5px;
  margin-right: 5px;
  padding: 5px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}

div.leaflet-popup-content {
  padding: 5px;
}

.behavior-popup div.caption p:first-child {
  margin-top: 0;
}


a.open-lightbox {
  color: black;
  text-decoration: none;
}

div.leaflet-popup-content img {
  min-width: 300px;
  width: 100%;
  margin: 5px;
}



.popup-title-cA, .popup-title-cL, .popup-title-cO, 
.popup-title-cV, .popup-title-cW {
  background:rgba(250,162,27,0.8);
}

.popup-title-cG, .popup-title-cE, .popup-title-cH {
  background: rgba(240,79,79,0.8);
}

.popup-title-cF, .popup-title-cI, .popup-title-cM, 
.popup-title-cP, .popup-title-cS {
  background: rgba(110,196,150,0.75);
}

.popup-title-cC {
  background: rgba(172,209,79,0.8);
}


a.show-all-points, a.show-fewer-points {
  color: #777;
  font-size: 80%;
  display: block;
  text-align: center;
  margin-top: 5px;
}

a.show-all-points:hover, a.show-fewer-points:hover {
  text-decoration: underline;
}




/******************************************************************************
 text box icons */

.textbox-icon-inner {
  display: inline-block;
  background: #EEE;
  border: solid 3px #777;
  border-radius: 8px;
  padding: 5px;
  transform: translate(-50%, 0);
  text-align: center;
  font-weight: bold;
  position: relative;
  color: #222;
  min-width: 100px;
  transition: 0.2s ease;
}

.textbox-icon-inner:hover {
  background: #FFF;
  margin-top: 3px;
  transition: 0.2s ease;
}


.textbox-icon-inner:after, .textbox-icon-inner:before { 
  top: 100%; 
  left: 50%; 
  border: solid transparent; 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  pointer-events: none; 
} 

.textbox-icon-inner:after { 
  border-color: rgba(136, 183, 213, 0); 
  border-top-color: #EEE; 
  border-width: 5px; margin-left: -5px; 
} 

.textbox-icon-inner:before { 
  border-color: rgba(194, 225, 245, 0); 
  border-top-color: #777; 
  border-width: 9px; 
  margin-left: -9px;
}



/******************************************************************************
 zoom control */


body div.leaflet-control-zoom {
  border-radius: 3px;
  background: #f7f7f7;
}

body a.leaflet-control-zoom-in:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #f3f3f3;
}

body a.leaflet-control-zoom-out:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #f3f3f3;
}


@media (max-width: 599px), (max-height: 499px) {
  div.leaflet-control-zoom {
    display: none;
  }
}



/******************************************************************************
 map bubbles */
 
div.hexcluster {
  pointer-events: none;
}

g.node {
  pointer-events: auto;
  cursor: pointer;
}



